<a href="https://colab.research.google.com/github/joony0512/short_codes/blob/main/%EB%8B%A4%EC%9D%B4%EB%82%98%EB%AF%B9%ED%94%84%EB%A1%9C%EA%B7%B8%EB%9E%98%EB%B0%8D.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 다이나믹 프로그래밍

In [9]:
# 피보나치 - 탑다운(메모제이션)
d = [0]*100

def pibo(x):
    print('f(' + str(x) + ')', end ='')
    if x == 1 or x ==2 :
        return 1
    if d[x] !=0:
        return d[x]
    d[x] = pibo(x-1) + pibo(x-2)
    return d[x]

In [10]:
pibo(8)

f(8)f(7)f(6)f(5)f(4)f(3)f(2)f(1)f(2)f(3)f(4)f(5)f(6)

21

In [11]:
# 피보나치 - 보텀업

d = [0] * 100

d[1] = 1
d[2] = 1
n = 99

for i in range(3, n+1):
    d[i] = d[i-1] + d[i-2]

print(d[n])

218922995834555169026

# 1로 만들기

- x가 5로 나누어 떨어지면 5로나눈다
- x가 3으로 나누어떨어지면 3으로 나눈다
- x가 2로 나누어 떨어지면 2로 나눈다
- x에서1을 뺀다.
- 정수 x가 주어졌을때, 연산 4개를 적절히 사용해 1을 만든다. 연산을 사용하는 횟수의 최솟값을 출력하시오

In [28]:
x = 1

# d[i] 는 i를 1로 만들기 위한 최소 횟수
d = [0] * 30001
for i in range(2, x+1):
    d[i] = d[i-1] +1

    if i%2 ==0:
        d[i] = min(d[i], d[i//2]+1)

    if i%3 ==0:
        d[i] = min(d[i], d[i//3] +1)

    if i%5 ==0:
        d[i] =min(d[i], d[i//5] +1)
print(d[x])

0

3

# 개미전사

In [29]:
def solution(n, array):
    d = [0]*100

    d[0] = array[0]
    d[1] = array[1]

    for i in range(2, n):
        d[i] = max(d[i-1], d[i-2] + array[i])
    return d[n-1]

In [30]:
solution(6, [1,3,5,2,1,3])

9

# 타일 채우기
- 2*N짜리 타일을 1x2, 2x1, 2x2의 타일로 채울 수 있는 모든 경우의 수 구하기
- 값이 매우 커질 수 있으므로 796796으로 나누고 나머지만 취하기

In [31]:
def solution(n):
    d = [0] *1001
    d[1] = 1
    d[2] = 3
    for i in range(3, n +1):
        d[i] = (d[i-1] + 2*d[i-2])%796796
    return d[n]

In [32]:
solution(5)

21

In [33]:
solution(4)

11

In [34]:
solution(3)

5