<a href="https://colab.research.google.com/github/joony0512/short_codes/blob/main/%EC%B5%9C%EC%A2%85%EB%8D%B0%EC%9D%B4%ED%84%B0%EC%B6%94%EC%B6%9C%EC%BD%94%EB%93%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
import re

def extract_titles(file_path):
    titles = []
    
    with open(file_path, 'r', encoding='utf-8') as file:
        lines = file.readlines()
        next_line = False  # 다음 줄을 읽어야 하는지 여부를 나타내는 플래그
        
        for i in range(len(lines)):
            line = lines[i].strip()
            
            # 다음 줄을 읽어야 할 경우
            if next_line:
                titles.append(line)  # 다음 줄을 제목으로 추가
                next_line = False  # 플래그 초기화
                continue
            
            # 패턴 매칭을 통한 제목 추출
            if re.search(r'회사개요', line):
                if i - 1 >= 0:
                    titles.append(lines[i - 1].strip())  # 이전 줄을 제목으로 추가
            
            # 다음 줄을 읽어야 할 경우
            # else :
            #     if re.search(r'팁스(TIPS) 창업기업 세부현황 D/B •', line) or re.search(r'• TECH INCUBATOR PROGRAM FOR STARTUP', line):
            #         if i + 1 < len(lines):
            #             next_line = True  # 다음 줄을 읽어야 함
            #             next_line_empty = not lines[i + 1].strip()  # 다음 줄이 비어 있는지 확인
                    
            #             if next_line_empty:
            #                 if i + 2 < len(lines):
            #                     titles.append(lines[i + 2].strip())  # 다음 다음 줄을 제목으로 추가
            #                     next_line = False  # 플래그 초기화
                
    return titles

# 텍스트 파일 경로
file_path = '/content/drive/MyDrive/노동연구원/teams_pdf/IR_KOR_ALL.txt'

# 제목 추출
titles_df = extract_titles(file_path)

# 추출된 제목 출력
for title in titles_df:
    print(title)
len(titles_df)

엔트리움
프라센
위브랩
시옷플랫폼
에이스틴
노보믹스
크레스프리
다노
키즈노트
헬스브리즈
라이클
브레이브팝스컴퍼니
포도코리아
오비이랩
드라마앤컴퍼니
제이디랩
큐리온코리아
쿠쿠닥스
스트라티오코리아
스파코사
채널코퍼레이션
클라우다이크
휴이노
스몰머신즈
다이닝코드
비트파인더코리아
브릿지모바일
모션퀸
유비파이
알피이
테그웨이
브레인커머스
이큐브랩
레클
요쿠스
딥서치
시어스랩
에바인
스튜디오씨드코리아
인스에듀테인먼트
엑센
다비오
리니어블
룩시드랩스
파이언스
어반베이스
디에스브로드캐스트
아이엠랩
뤼이드
와이젯
와인소프트
비트루브
오비츠코리아
수아랩
닷
연시스템즈
임프레시보코리아
민코넷
투블루
더블미
매드스퀘어
데이블
엠프로스
아이알엠
엔픽스
제이커브
스탠다임
가우디오랩
에너윈코리아
매버릭
나노미래생활
비손콘텐츠
인투코어테크놀로지
브이터치
밸런스히어로
포그리트
뉴로게이저
아이오
에버스핀
뉴플로이
플라즈맵
디트로네
스페클립스
키페어
크레셈
아이엠지티
하이리움산업
아이지넷
바이오필리아
브랜디
메디튤립
휴벳바이오
텐큐브
지피씨알
로빈첨단소재
심플러
피플앤드테크놀러지
토모큐브
큐비트시큐리티
데이코어
큐픽스
스트리미
바이오메디칼쓰리디프린팅
럭스로보
이노본
바이오웨이
라인웍스
쏠락
니어스랩
올리브헬스케어
쓰리디메디비젼
뉴라클사이언스
네이처글루텍
엠디뮨
지플러스생명과학
아폴론
옵텔라
씨앤테크
힉스컴퍼니
엠쏘텍
베이글랩스
헬로긱스
여행노트앤투어
와이파이브
자비스앤빌런즈
오렌지가든
시브이바이오
한국스마트인증
켐이
애니파이
이노온
아이엠기술
휘플
코베리
에이비일팔공
스노우베어
아톤이엔지
아이센랩
엘스퀘어
티아이
체크멀
캐치잇플레이
유메인
매스프레소
비플렉스
토닥
피글
트라이패스
블루레오
파슬리
버즈뮤직코리아
이스트컨트롤
센티언스
자이언트드론
닥터픽
파운트
볼트크리에이션
에이아이메딕
이뮤너스
오름테라퓨틱
넥스프레스
엘베이스
알엔비즈
에벤에셀케이
스푼라디오
에이젠글로벌
휴멘
악어디지털
한국신용데이터
뉴로핏
울랄라랩
더웨이브톡
엘에프피
내일테크놀로지
알파클로
주빅
쓰리디컨트롤즈
신의직장
베이비프렌즈
오스힐
쓰리디오엔에스
에이조스바이오
닥터키친
만드로
더널리
립하이
미스터멘션
뉴트라팜텍
한국해양바이오클러스터
미띵스
올룰로
헥사솔루션
다크호스게임즈
에덴룩스
에큐피에스코리아
에이티시그널 ATsignal
알카크루즈
스트라드비젼
센시
제네시스랩
증강지능
해브해드
시큐어티앤에스
리얼아이덴티티
쉘파스페이스
텔로팜
넥셀
퓨처바이오웍스
쿼드메디슨
영원메이커스
유메드시스
바이랩
룬랩
큐브로이드
엑셀로
리센스메디컬
네오리젠바이오텍
메디맵바이오
파마진
엘큐바이오
인테라
엑스브레인
피즐리소프트
노타
에디켓
버즈아트
해빗팩토리
플링크
팝콘사
페르세우스
도터
뉴로벤티
아이메디신
딕스젠
엑소시스템즈
씨드로닉스
엠셀
옴니어스
페이콕
파로스아이바이오
레보스케치
더커머스
엔코드
멤스룩스
레미드
포디웰컴
아이랩
리베스트
티랩스
디지소닉
칸필터
아이로
올레드온
클루피
에스엠디솔루션
에스오에스랩
에스큐그리고
코드브릭
유투메드텍
브래니
제이디바이오사이언스
미친익스프레스코리아
휴톰
씨앤씨머티리얼즈
스프링클라우드
넥서스비
쉐어잇
더굿시스템
화이바이오메드
이노큐디
하프스
피디젠
솔
메가조인트
닥터스팹
플레인베이글
에스엔비아
엠에스라인이엔지
더플랜잇
에이아이트릭스
클라우드브릭
씨비에이치
버츄어라이브
도움팩토리
스무디
바이오빛
민트팟
프로엔테라퓨틱스
에스엔바이오사이언스
인랩
하이퍼센싱
호두에이아이랩
베어로보틱스코리아
오시리스시스템즈
알트에이
올리브유니온
제이피바이오에이
솔메딕스
카보랩
포티투마루
엔터플
핀투비
브릴리온포토닉스
보노아이씨티
열전토탈솔루션
테이블매니저
아우름플래닛
페스카로
지속가능발전소
베네디아
마피아컴퍼니
라트바이오
프런티어에너지솔루션
아렌네
지에이티
로플리
와이어바알리
아티스츠카드
뉴냅스
뉴로다임
알링크
알지노믹스
파펨
이뮤노포지
슈파인세라퓨틱스
구름네트웍스
레지에나
아밀로이드솔루션
빅밸류
바움
브룩허스트거라지
미니스쿨
브이픽스메디칼
엘핀
바이오스퀘어
엠티이지
디프트
네이처코스텍
에프앤디파트너스
필더세임
아몽
애디터
익투스지노믹스
디딤
패러데이오투
카이아이컴퍼니
모스트바이
로지브라더스
티에프제이글로벌
엑셀세라퓨틱스
열매컴퍼니
나우오토켐
스트로크플레이
비투코리아
더마테크
케어메디
스파크바이오파마
혼밥인의만찬
홍복
텍스트팩토리
콜라비팀
쉐마
쿠엔즈버킷
로보러스
뉴아인
미스터마인드
원키
코클리어닷에이아이
비햅틱스
씨케이리제온
포인투테크놀로지
누벤트
애드인텔리전스
마스오토
에이케이시스
에피바이오텍
아이테드
스마프
내일해
파인에스엔에스
아이캐스트
케이메디시스
드림에이스
비닷두
코드박스
인더코어비즈니스플랫폼
다나그린
스타스테크
엑스바엑스
띵스플로우
에프이엠
씨바이오멕스
엔젤스윙
민트로봇
두브레인
그렙
브이에스아이
유니테이크홀딩스
스토어카메라
아레즈
콰라소프트
팜스킨
포지큐브
스완전자
맘편한세상
엑세스랩
톤28
파토스
날비컴퍼니
비트센싱
타임코드아카이브
크라우드웍스
글로벌브릿지
누리바이오
고산테크
체커
스팬딧
지아이에프코리아
아델
에이템즈
에이치에너지
아토머스
키센스
일솔레드
베이서스
뷰오
렛시
메가폰엔터테인먼트
옵티코
레신저스
클로봇
커널로그
더유엠에스
이드웨어
나노인
오르비스에이아이
엔에이백신연구소
짐싸
스마트컨버전스
세린랩
아드리엘
비주얼
코멘토
엠오피
프렌즈몬
필로포스
팀엘리시움
자이냅스
인프로
엘엠프렌즈
이엔셀
서울로보틱스
사피엔반도체
피알지에스앤텍
오토텔릭바이오
제이투씨
지이모션
온코태그디아그노스틱
살린
루니미디어
엔젤로보틱스
에스엠랩
쓰리세컨즈
휴맵
딥엑스
칼리온
에스비솔루션
휴멜로
보비씨엔이
퍼즐데이터
바이오센스텍
씨이엠
쉐어켐
지오인터넷
딥스튜디오
뮨
메이드인랩
페리지항공우주
브라이토닉스이미징
케이비바이오메드
올거나이즈코리아
케이에이비비바이오
패브릭타임
디딤센서
업라이즈
세이지리서치
클래스101
첨단랩
크로커스에너지코리아
티이이웨어
네메시스
노피온
핏투게더
와이파워원
디퍼아이
스키아
마이크로시스템
에이치랩
씨벤티지
캐스팅엔
스템온
아스트로제네시스
쿼드마이너
아울바이오
마키나락스
짐티
플라워메디칼
브이알애드
모션투에이아이코리아
아워랩
텍스토리
크럭셀
브랜뉴테크
액션파워
퓨처메인
오퍼스원
디자이노블
딥핑소스
써니웨이브텍
케이바이오랩
와이즈패션
원프레딕트
세븐킹에너지
아이오티큐브
퀄리타스반도체
그럼에도
블록오디세이
핏펫
메텔
셀라바이오텍
씨에이티빔텍
산타
집토스
티켓플레이스
나우비젼
모니터코퍼레이션
펄핏
이뮤셀
아톰앤비트
메디코스바이오텍
아이오코드
애드히어로
코스믹그린
단비코리아
온코크로스
에즈큐리스
부루구루
카이팜
프로큐라티오
닥터노아바이오텍
디어젠
이너보틀
이노리젠
펩진
메디허브
이서
테코플러스
이지엔도서지컬
큐라미스
큐라움
디시젠
파코웨어
더클로젯컴퍼니
에스투더블유랩
소다크루
소테리아
어썸레이
삼십구도씨
팡세
한국축산데이터
에어캡
아라미스
케어위드
이엠코어텍
휴마스터
팀오투
아이엠디팜
아미쿠스렉스
더맘마
나인코퍼레이션
엑소퍼트
와이오엘오
다빈시스템스
비스키트
아이엠비디엑스
쉐어트리츠
클로
동부아이씨티
퓨리파이테크노
왓비타
진메디신
업스테어스
트래블월렛
그린존시큐리티
동고비소프트
사운드리퍼블리카
바른
스페이스워크
바이오트코리아
마이다스에이치앤티
발트루스트
이젤
만다린로보틱스
리호즈
펄송
퓨어스페이스
유니셀랩
알트리젠
리브햇
에이미파이
하플사이언스
더트라이브
엠엑스바이오
오픈업
에어스메디컬
위주
마라나노텍코리아
뉴라메디
파머스포터
모어씽즈
바투잼
월드콥터코리아
레드브릭
소프트자이온
애드락애드버테인먼트
엔파티클
모빌테크
헬스바이옴
제노팜
서큘러스
프로젝트노아
피노
단색
엔터핀
힉스
메디웨일
투미유
메이사
팀삼층
마인드로직
나노밸리
랩도쿠
탱커
싸이츠
셀로스바이오텍
아키드로우
에이치로보틱스
리포마
에이아이네이션
에임즈
겟차
위탐
헤지호그
엔벤트릭
에딧메이트
엔도로보틱스
메디픽셀
에이엔폴리
업테라
피트
피코파운드리
정진호이펙트
진씨커
헬로팩토리
카보엑스퍼트
노벨티노빌리티
크립토랩
디앤에이보이
더카본스튜디오
비엔에이치리서치
브이로거
크레용테크놀러지즈
글로랑
오펠솔루션
모빌린트
슬릭코퍼레이션
보이스루
와이테크
큐에스택
아이시냅스
엔테로바이옴
열정팩토리
소셜라디오컴퍼니
프로앱텍
네트워크디파인즈
한선에스티
먼치팩토리
리버스랩
에스디티
앨리스헬스케어
그리너지
인터브리드
엘씨스퀘어
엔엠씨
이노스페이스
지에이치바이오
제로엑스플로우
리플에이아이
리턴제로
어거스트텐
메디히어
버즈앤비
이지다이아텍
큐리오칩스
위딧
제이케이테크
블리몽키즈
클라썸
액스
모라이
파이온코퍼레이션
일루넥스
시소
비씨앤엠
고피자
파이프랩스
글로리바이오텍
티밸류와이즈
나인와트
올케어러블
이지스로직
블루프린트랩
서치스
미린트
서울번드
헥슬란트
시프티
포자랩스
알바트레이스
태그솔루션
씨엔피솔루션즈
랩스피너
달리셔스
나이비
래디센
알레시오
테라시온바이오메디칼
폴레드
이노백
푸드노트서비스
오큐라이트
스마틴바이오
디테크게엠바하
인핸드플러스
왓슨알앤디
제이알랩스
아이비스바이오
파파야
엘젠테라퓨틱스
유뱃
오케이쎄
포스필
무스마
셀렉트스타
플코스킨
관악아날로그
파마코렉스
테코자임
원진바이오테크놀로지
펜타메딕스
콜리
위힐드
에디트콜렉티브
데이터드리븐
폴라리스쓰리디
브이에스팜텍
세차왕
딥네츄럴
제이마이크로
제노헬릭스
젠센
디네이쳐
프라젠
라이센텍
뉴로라이브
라이언로켓
릴리커버
무브
브이드림
브레인유
팀블랙버드
그랩실
레피다인
젠셀메드
비에이치엘바이오
콥틱
작당모의
큐롬바이오사이언스
에스프레소미디어
와인
팬토믹스
에이셀테크놀로지스
에이치비스미스
브레인소프트
에스엘엠
넷타겟
플리즈
아이오크롭스
콜라보그라운드
앰포
키나바
빅쏠
리메이크디지털
메이아이
에피케이터
엑솔런스바이오테크놀로지
하이퍼하이어
인세리브로
메디프레소
오더스팟
블록체인기술연구소
디플랫
캐치플로우
푸드팡
코가플렉스
제이에스케이바이오메드
에스씨솔루션
맘모식스
현성
포어시스
원스프링
쎄슬프라이머스
에바
아이트
에이브랩스
에프앤에스홀딩스
지니로봇
외식인
스낵포
카바조
셀라이온바이오메드
고미코퍼레이션
팔루썸니
아보카도랩
파인나노
바이올렛
크레파스솔루션
아이큐랩
플랜즈커피
휴라인텍
케어스퀘어
리뷰쉐어
고투조이
이너테인먼트
피버가이즈
셀미트
스마투스코리아
서울벤처스
소프트베리
빈센
넥센서
픽셀로
지니얼로지
도구공간
랑데뷰
리그넘
패럴로이드기어
에너자이
티에스피바이오켐
코나투스
알고리즘랩스
엔서
이와이어라이너
엠이티라이프사이언스
에이런
에코알앤에스
리벤텍
마이프랜차이즈
인덴트코퍼레이션
엔스펙트라
이머시브캐스트
피처링
젠트로피
두에이아이
마인딩
글림미디어그룹
이마고웍스
엠투에스
미스터즈가라지
주스
타이트
드론오렌지
써모랩코리아
리셋컴퍼니
센시콘
윌림
튜링
트라이폴리곤
아벤티
스메코
스케치소프트
엔이에스바이오테크놀러지
딥인스펙션
체크메이트테라퓨틱스
아르케
큐엠아이티
노보렉스
필드큐어
씨브이티
퀀텀캣
트루테크놀로지스
세린컴퍼니
엠케이메디텍
보타닉센스
오즈세파
메디폴리머
웨이센
알고리고
셀렌진
페롤레드
두유비
유앤에스에너지
셀스미스
기프티스타
아몬드컴퍼니
알고리마
에스티원
이팝소프트
솜씨당컴퍼니
엠테라파마
블루닷
바이오컴
엘엔로보틱스
신성터보마스터
에이엠홀로
플루토인코퍼레이션
지메디텍
지브레인
케어닥
바이오디자인랩
쓰리디세라
팀와이퍼
코어파마
엘앤디전자
마지막삼십분
씨투씨소재
딥헬릭스
왓섭
비지피웍스
제이앤킴
넥시온바이오텍
아키플랜트
바이오아틀라스
라이트브라더스
마린이노베이션
노써치
키오믹스
아름테라퓨틱스
가제트팩토리
메그노시스
메디벨바이오
데이터뱅크
아이피에스바이오
컨슈머브릿지
이엠씨
제제듀
크리모
디앤아이파비스
멀티플아이
유로테크
플록스
베스텔라랩
가온기술
알티엠
셀러노트
오스펌
프레이저테라퓨틱스
프로메디우스
마이크로프로텍트
바이오뱅크힐링
뉴로티엑스
큐어스트림
알파서클
구루미
플라잎
카펜스트리트
셀라퓨틱스바이오
레드윗
페이스
뉴라이브
스파이스웨어
나노콘
딥포커스
딥하이
에타일렉트로닉스
예스나우
엠아이제이
리마보안연구소
지티에이컴
이노디지털
씨비테크
코엘트
로펠바이오
이우솔루션
엠앤앤에이치
노빌리티
루센트블록
인스유틸
스카이칩스
오내피플
모플
피에스디엘
에이딘로보틱스
메디스팬
텐일레븐
와따
소프트런치
에이아이포펫
사이버네틱스이미징시스템즈
열정에기름붓기
시바이오
퓨리메디
상상텃밭
트리프리
뷰런테크놀로지
딥센트
태거스
빌리버
마이오텍사이언스
인켐
펫트너
로보트리
마이크로프트
몽가타
콜로세움코퍼레이션
테크타카
디사일로
라이더대시코리아
솔바이오
리벨리온
에이엄
피엠랩
유니크닷
뉴빌리티
브리지테일
세컨핸즈
바이너리브릿지
제너레잇
퀀텀인텔리전스
온코젠
씨티셀즈
피엠솔
아이픽셀
알티스트
클레온
페이히어
유스바이오글로벌
잡앤파트너
코스코페이퍼
다인메디컬그룹
다테크니끄
오프널
볼라
코딧
이노퓨틱스
아이콘
팜커넥트
파이메드바이오
모빅신소재기술
케이워터크레프트
에이디
파이리코
티씨노바이오사이언스
엔도믹스
보다비
엠비티
쏘마
프록시헬스케어
알세미
클로아유한회사
플로이드
지티아이바이오사이언스
드림포라
인에이트
로앤굿
오간팩토리
셀플러스코리아
딥히어링
온코소프트
넥스클라우드
와이어젠
모비노마
에니아이
미림진
토브데이터
솔리비스
씽즈
엔젤리그
어크로스비
아바티
종달랩
브이메모리
옥타코
테르나테라퓨틱스
에드믹바이오
지오비전
이포토닉스
펄스나인
피씨지바이오텍
멘테인
웨델
이노레이
딜리헙
그라인더
히츠
코드스테리
코넥시오에이치
라이조테크
유비엘바이오
아이코드랩
제이제이앤컴퍼니스
델바인
플럭시티
위드마인드
씨위드
싸이런테라퓨틱스
토즈
커버써먼
휴램프로
인사이저
디노스튜디오
바이오크
피트릭스
바이오솔릭스
바이오제네시스
베링랩
나나비
옥소폴리틱스
애티스랩
알앤알랩
히포티앤씨
트윈피그바이오랩
지비소프트
리틀캣
나인투식스
퍼밋
카스큐어테라퓨틱스
에콤
네오엔터디엑스
디파이
위플랫
이옴텍
엠디엡투스
컨워스
아임시스템
무브먼츠
에이유
비드오리진
소이넷
바이칼에이아이
카티프라임
리코어
티씨엠에스
엘박스
넷록스
세이프틱스
메디센텍
앰프
에스비바이오사이언스
프로카젠
스페이스에프
시너지에이아이
뉴원에스엔티
나노게이트
몰팩바이오
아펙스에이아이
넥스세라
에이슨
언디파인드
모로바
카이어
에스앤피랩
오늘의픽업
빌리뷰
글래틱
픽셀릭코리아
이온메디칼
스탠딩톨
뉴튠
오몰래
로즈랩
인디제이
에픽
큐티스바이오
딥이티
마이퍼피
베슬에이아이코리아
리콘랩스
쓰리에이치바이오
다임바이오
지인플러스
에이슬립
클로넷코퍼레이션
헤이스타즈
펫나우
씨앤에이아이
유비스랩
안가본길
반려생활
온더룩
천명앤컴퍼니
커넥슨
에어스
아프스
셀러스
비페코
유씨아이테라퓨틱스
포엘
애드
웨인힐스벤처스
인셉션랩
에임퓨처
에스그래핀
페이얍
앤트
바이온사이트
비피시
나노온코메드
하얀마인드
뮤팟
부스트이뮨
빅펄
아스트론시큐리티
브이젠
피노맥스
셀리코
플라스크
알디솔루션
컬리지니에이아이
아이트럭
네오나
스타인펠드
비욘드허니컴
솔란드
스파이더랩
에이엠엑스랩
파워엘에스아이
티클
네오에이블
공공
위밋플레이스
이브릿지월드
브레싱스
채널바이옴
비에이티파트너스
랭코드
로완
링크솔루션
모빅랩
힘테크
모아이스
창업인
웰스메디텍
렉스소프트
비바이노베이션
최현일바이오랩
커넥트핏
비플러스랩
우주라컴퍼니
청세
이노맥신
엑셀라몰
지에이치팜
카찹
아보엠디코리아
텐
트렌토시스템즈
믹서
엠엑스티바이오텍
휴마니타스
아이팩토리
에버엑스
에이치엠이스퀘어
어드밴스트뷰테크널러지
아바타테라퓨틱스
케빈랩
제핏
돌봄드림
풀스택
잘라컴퍼니
쉐코
바이오소닉스
진큐어
알파그래핀
큐노바
잰153바이오텍
이퀄
올트
한국전기차인프라기술
론픽
서지컬마인드
드리머리
원소프트다임
니오테스바이오
바로팜
디지털휴먼랩
코스모스랩
크레스콤
비포플레이
배젠
리플라
딥메트릭스
다리소프트
커피챗
아이노클
에스에프에스
에브리바이크
에이엠솔루션
프라비바이오
옴니아트
애크멕스시스템아이씨
에스앤케이테라퓨틱스
소셜인베스팅랩
엔바이오스
더도니
블루비커
빌리어네어즈
레이컴
카운터컬쳐컴퍼니
파워테스크
빅픽처랩
온잇
위트레인
아림사이언스
케이앤어스
포스리젠
굴리
아이코어
메디엔진
비즈니스캔버스
컬티랩스
위나인
인포플러스
금방
큐엔티
쿼키
까리용
프리즘39
에임블
비브리지
빅크
디디케어스
캡슐미디어
뷰티메이커스
에필바이오사이언스
제이씨에프테크놀러지
세이클
반프
한국공간데이터
진지한컴퍼니
리하베스트
투모런스
로보아르테
라드피온
트이다
이스턴기어
버추얼플로우
마인즈에이아이
데이타몬드
슈퍼잼
메디인테크
아이클레이브
리스틀리
스페바이오
위로보틱스
모이모션
잉클
터넬
21세기전파상
오션스바이오
지엔에이컴퍼니
슬링
인테리어티쳐
딥인사이트
크레바스에이아이
웍스메이트
파인헬스케어
씨에이랩
7일
매쓰팡
비웨이브
바빌
케이에스비튜젠
테스원
비투랩
에스테이트클라우드
미토스테라퓨틱스
아티펙츠
닉스
넥스아이
티제이랩스
킹고바이오
피엠아이바이오텍
애쓰지마
케일코드
바이셀스탠다드
윌로그
아이젠사이언스
꽃팜
누비랩
네오스텍
그린
퓨처앤텍
배려
오투메디
쉐메카
지알엠케이
지나이너
스텝페이
인켐스
캐시멜로
인텔리시스
이너아이
토트
포티파이
미러로이드
키친스탠다드
썸테크놀로지스코리아
엔닷라이트
이너버즈
이너시아
에이온플로우
소프트스퀘어드
에스엘즈
칼리시
페블러스
파프리카랩
바비디
실비아헬스
쉐어앤서비스
디에이엘컴퍼니
오토엘
두어블
인트플로우
넥시빌
살루스마린시스템즈
테라노켐
이노셉
인터랙트
그레이스타인그룹
라파라드
일리미스테라퓨틱스
마이브레인
이모티브
오토피디아
이피디바이오테라퓨틱스
세수
스펙터
카멜바이오사이언스
크리스틴컴퍼니
티라움
스마트디아그노시스
누트컴퍼니
어노테이션에이아이
씨제이와이케이
브로나인
써밋츠
루먼랩
하이드로럭스
메디아이플러스
벙커키즈
멜로잉팩토리
팜프로
실리코팜
위미트
잇다헬스케어
식스티헤르츠
워키도기
타인에이아이
플랭
플라스바이오
미드바르
제이앤피네이처
두들린
디하이브
지노텍
패스트포워드
씨드앤
카본솔루션
유어초이스바이씨랩
알에스리햅
맥파이테크
에이아이바
오이스터에이블
2월대개봉
참약사
스몰빅클래스
알지티
파킹고
셀렉소바이오
아고스비전
푸른망아지
아이비엠솔
피피엠아이
제노픽스
쉐어박스
토니텍코리아
문토
아우름케어매니지먼트
라피끄
에아스텍
더픽트
스마트키오스크
케이스노트
바운티팜
리체
오픈플랜
키브
프로키언
퓨처뷰티
페칭
페어랩스
잇더컴퍼니
뉴롤메드
힐스엔지니어링
오늘의웹툰
휴서카디안
인포크
큐링이노스
스튜디오갈릴레이
슬레이트미디어
브릿지코드
타운즈
엘알에이치알
로랩스
플로틱
키노라이츠
네오켄바이오
테라바이오
엣지케어

폴리윅
택트레이서
케이에스앤픽
어메이징푸드솔루션
에스와이솔루션
지로
씨브이쓰리
알씨테크
파인더스에이아이
듀셀바이오테라퓨틱스
메이코더스
매크로액트
한국위치기술
티알
마인드포지
소프엔티
세븐미어캣
런치팩
라플라스테크놀로지스
트리즈네트웍스
스토리시티
남도마켓
엑스엘에이트에이아이
와트
디비디랩
뷰메진
플리퍼코퍼레이션
메트릿
파이노버스랩
코발트
세네릭스
노다랩
에이아이에스
뤼튼테크놀로지스
더발라
라오나크
에이치에스엔
원스글로벌
타르트
브라이튼코퍼레이션
티센바이오팜
메타이뮨텍
위아더
트랜스버스
국민바이오
뉴처
더데이원랩
셀버스
레디로버스트머신
위티
오버노드
디웨일
뉴로서킷
에이엘바이오텍
브이원바이오
평행공간
플랜핏
아치서울
비알랩
투바이오스
인졀미
스코웍스
에이치앤비지노믹스
이브이에스텍
제이앤피메디
콕스스페이스
예성글로벌
닥터테일
오웰헬스
소울머티리얼
소리를보는통로
그린미네랄
룩코
랩인큐브
빌리지베이비
한국수산기술연구원
라이트비전
노틸러스
제이제이엔에스
런엑스
제제미미
마켓오브메테리얼
세라트젠
드랍더비트
빛글림
모니랩
애니멀고
와들
퓨처커넥트
케미폴리오
지티엘
새솔테크
카티어스
테스트뱅크
히얼위고
위스피온
어웨이크코퍼레이션
트라이얼인포매틱스
블랙탠저린
바리코퍼레이션
애브체인
알파프라임
길재소프트
아벨로스테라퓨틱스
유나이티드어소시에이츠
워터아이즈
씨에이플래닛
플랜비포유
더엔젤브릿지
애드쉴드
유펜솔루션
크리모
빅웨이브로보틱스
메디르
스칼라데이터
마이크로젠타스
스포투
프로이드
링거스튜디오
라이노박스
에이엠알랩스
메라키플레이스
제이엔이웍스
바이오미
타이로스코프
코매퍼
알로하팩토리
청명첨단소재
알데바
에이아이닷엠
넷스트림
메타파스
엔드앤드코리아
에이트테크
네이앤컴퍼니
우나스텔라
모두의회계
하이로컬
팀그릿
킬로
스위치원
루트릭스
퀀텀에이아이
하이보
스타일봇
에스에스티컴퍼니
프리베노틱스
에이아이바이오틱스
두와이즈켐
헤세드바이오
와이오엘
아루
유심사
피엔유에드
써지컬에이아이
로위랩코리아
그로잉세일즈
하이드로켐
에너지마이닝
고스트패스
라이브엑스
이씨지
탈로스
크래프타
아티피셜소사이어티
도다마인드
프릿지크루
모플랫
펄슨
클루
닥터 엑솔
레이모웍스
에너지밸런스
웰로
인바이즈
쿠돈
리신바이오
셀앤매터
리빌더에이아이
리제너스
럭스피엠
웰시콘
프라이데이즈랩
에이아이파크
세컨드팀
디에스전자
넥스트에디션
피치그로브
에이든랩
펫팜
더자람컴퍼니
업사이클리스트
세샤트
블링커스
넥스티리얼즈
알트메디칼
젠젠에이아이
브이다임
셀로이드
아이씨티컴플라이언스
일렉필드퓨처
넵튠클라우드
디폰
와이아웃
케이팝팩토리
케이메디켐
로이어드컴퍼니
포체인스
랩엠제로
엑스픽
해머앤아머
모카앤제이에스
로그스택
에이비씨스튜디오
오마이어스
마이트렉스코리아
플러디
애크미랩
나인하이어
가지랩
그라운드컨트롤
엔핀
저스트원더
이노탠
이너프유
엔츠
뉴트라잇
모션랩스
삼홍기계
이에프
라이튼테크놀로지
다오솔루션
에프엔씨티바이오텍
리버밴스
카멜로테크
케미스토리
닥터아이앤비
프릭스헬스케어
공새로
메디치바이오
티온랩테라퓨틱스
다리테크놀로지
택스워치
엠케이
위레이저
하이퍼클라우드
스템덴
플레이태그
에이오팜
위플로
빌드프롭
이음
소프트리에이아이
코브라
애즈위메이크
이매지니어스
엘엠엔틱바이오텍
플래닝고
후야호
백스다임
나노팬텍
딥파인
아크로셀바이오사이언스
배럴아이
투와이
파이어킴
뷰전
마이게러지
모바휠
마유비
패러닷
파트리지시스템즈
아트블러드
디알케이
빛날덴탈스튜디오
마이크로어낼리시스
탤런트리
행파이브
싸이드워크엔터테인먼트
다이나메딕
피플즈리그
라세미아
피큐레잇
벳칭
배턴터치
셀키
지오로봇
블루시그넘
자스텍엠
사운드플랫폼
데포랩
나비프라
메딜리티
클라우드스톤
그리너리
시너인
뷰브레인헬스케어
퀀티파이드이에스지
에픽타이거
아이디씨티
엘에스델
애기야가자
바이오엔
스카이링크
에스씨에스엠
바이오브릭스
페클로딘
크레페이
파일러
브랜치앤바운드
와트
브이유에스
키위스튜디오
굳갱랩스
스템엑소원
인디드랩
시고르자브종
어라운더블
크레이지알파카
그로스핏
아드보
뉴로엑스티
프리모테라
래식
바딧
넥스트케이
몰큐브
트윈위즈
피터스랩
링크솔루텍
휴피트
제트에이아이
서브뮬레드
호라이존테크놀로지
아이오티플렉스
팬심
안단테에프엠
이자
택스비
이미지블
트리니들
드랩
컬러버
세미브레인
시안솔루션
카이헬스
부엔까미노
유리프트
디플에이치알
이지태스크
젠트리
헬퍼로보틱스
코르카
라라스테이션
알피
포크홀딩스
레이첼블루
엘피스셀테라퓨틱스
스테드
서사
오지
마이스
씨그로
에스오씨
일루니
미코라파
온마이뎁
나니아랩스
유니컨
피아스페이스
비사이드코리아
아이핀랩스
나다디지탈
루츠랩
서지텍
미르니
클린베딩
메디띵스
오오티디
마이너
코라스로보틱스
그루우
애즈미
클레
룩씨드
니나노컴퍼니
마인이스
비티이
스테이빌리티
원더무브
메디아이오티
디뉴로
크렐로
호모미미쿠스
콤스
프롬나드에이아이
트루라이트코리아
에딘트
비엔씨테크
블라썸클라우드
우주문방구
새팜
스마트큐브랩스
그래파이
클리카
씨너렉스
인테그리틱스
올마이티캠퍼스
케세라게임즈
그룹바이에이치알
사운더스트리
테아트룸
별따러가자
북아이피스
메이저 맵
제르나바이오텍
내이루리
우당네트웍
케모웨이브
피데스어드바이저리
뷰넥스
이노버스
아임토리
에이블제이
비트바이트
제이인스
바이오레스텍
그로잉랩
템프체인
왓타임
케이바이오헬스케어
비아컴퍼니
어베어
링크페이스
다츠
스크리나
아토맘코리아
지안에스
데이터몬스터즈
맨드언맨드
헥사프로
엘로이랩
원지랩스
브랜드리스
디지털네이티브스
플라츠
파이퍼블릭
아리아스튜디오
씨앤에스알
보다에이아이
카운터포인트리서치
미피랩스
알앤원
알리아드바이오파마
메타몰프
플룸디
브이아이코리아
디스콰이엇
프레임웍스
와이즈셀렉션
스트럼코리아
테크빌리지
팀모노리스
원더윅스컴퍼니
애드에이블
올수
모아프렌즈
솔리텍
에르사츠
웰케어스
키텍바이오
쿠오카스킨
보딩패스
트러스트랩스
팀누비즈
프런트9
웨이커
데이톤
플릿튠
임팩트에이아이
에듀템
룬샷컴퍼니
플래튼
튜블릿코리아
데이츠바이오
워킹카우
이노플라즈텍
라잇루트
산군
폰에어
위커버
어스에이트
티엠알파운더스
코비그룹
아이클로
휴먼에이스
오아시스비즈니스
버블클라우드
Ocompany
씨피식스
이브이패스
언베일드
레디포스트
엠투벤처스
웍스비
호패
스파이더실크

2038

# 파일 전체 합치기 - word 추출

In [48]:
import pandas as pd
import numpy as np

a1= pd.read_excel('/content/drive/MyDrive/노동연구원/teams_pdf/IR_1_300.xlsx')
a2= pd.read_excel('/content/drive/MyDrive/노동연구원/teams_pdf/IR_301_600.xlsx')
a3= pd.read_excel('/content/drive/MyDrive/노동연구원/teams_pdf/IR_601_900.xlsx')
a4= pd.read_excel('/content/drive/MyDrive/노동연구원/teams_pdf/IR_901_1200.xlsx')
a5= pd.read_excel('/content/drive/MyDrive/노동연구원/teams_pdf/IR_1201_1500.xlsx')
a6= pd.read_excel('/content/drive/MyDrive/노동연구원/teams_pdf/IR_1501_1800.xlsx')
a7= pd.read_excel('/content/drive/MyDrive/노동연구원/teams_pdf/IR_1801_2038.xlsx')

a7

,소재지,대표자 (생년),사업화 단계,후속투자,고용창출 (선정당시),고용창출 (최신),논문 및 특허,매출
0,부산 금정,1993.0,엔젤투자,NaN,8,NaN,"(특허) 상표국내등록 19건', '",NaN
1,서울 서초,NaN,NaN,NaN,5,NaN,"특허 출원 준비중, 상표국내출원 1건', '",NaN
2,경기 용인,1980.0,엔젤투자,NaN,8,NaN,NaN,NaN
3,서울 성동,1976.0,엔젤투자,NaN,3,NaN,NaN,NaN
4,강원 원주,1988.0,NaN,NaN,7,NaN,"국내출원 3건, 국내등록 2건, 상표국내등록 1건', '",NaN
...,...,...,...,...,...,...,...,...
233,서울 마포구 (서울창업허브,1985.0,시리즈 A,NaN,22,NaN,NaN,NaN
234,서울 서초,1980.0,시리즈 A,NaN,23,NaN,NaN,NaN
235,경기 성남,1961.0,시리즈 A,NaN,10,NaN,"특허 6건 (국내, 미국, 유럽, 일본)', '",NaN
236,서울 강남,1992.0,엔젤투자,NaN,6,NaN,NaN,NaN
237,경기 성남,1971.0,NaN,NaN,현재 정규직 4,NaN,NaN,NaN

In [49]:

def merge_excel_files(file_paths):
    dfs = []  # 엑셀 파일들을 담을 리스트

    # 엑셀 파일 불러오기
    for file_path in file_paths:
        df = file_path
        dfs.append(df)

    # 인덱스 새로 부여하고 엑셀 파일들 합치기
    merged_df = pd.concat(dfs, ignore_index=True)

file_paths = [a1,a2,a3,a4,a5,a6,a7]

# 엑셀 파일 합치기
A=merge_excel_files(file_paths)

In [50]:
A

In [51]:
 merged_df = pd.concat([a1,a2,a3,a4,a5,a6,a7], ignore_index=True)

In [52]:
merged_df

,소재지,대표자 (생년),사업화 단계,후속투자,고용창출 (선정당시),고용창출 (최신),논문 및 특허,매출
0,경기 화성시,1973.0,시리즈 B,120.2,5,('20) 42명,29,(‘20) 48억원
1,서울 강남구,1984.0,시리즈 A,3,[],NaN,11,NaN
2,서울 강남구 (팁스타운),1977.0,시리즈 B,[],5,('20) 9명,NaN,(‘20) 56억원
3,대전 유성구 (카이스트 BI),1966.0,시리즈 B,[],2,('20) 6명,NaN,(‘20) 4억원
4,대전 유성구,1972.0,시리즈 A,[],3,('20) 9명,19,(‘20) 3억원
...,...,...,...,...,...,...,...,...
2033,서울 마포구 (서울창업허브,1985.0,시리즈 A,NaN,22,NaN,NaN,NaN
2034,서울 서초,1980.0,시리즈 A,NaN,23,NaN,NaN,NaN
2035,경기 성남,1961.0,시리즈 A,NaN,10,NaN,"특허 6건 (국내, 미국, 유럽, 일본)', '",NaN
2036,서울 강남,1992.0,엔젤투자,NaN,6,NaN,NaN,NaN
2037,경기 성남,1971.0,NaN,NaN,현재 정규직 4,NaN,NaN,NaN

In [53]:
merged_df.insert(0, '회사명', titles_df)

In [54]:
merged_df

,회사명,소재지,대표자 (생년),사업화 단계,후속투자,고용창출 (선정당시),고용창출 (최신),논문 및 특허,매출
0,엔트리움,경기 화성시,1973.0,시리즈 B,120.2,5,('20) 42명,29,(‘20) 48억원
1,프라센,서울 강남구,1984.0,시리즈 A,3,[],NaN,11,NaN
2,위브랩,서울 강남구 (팁스타운),1977.0,시리즈 B,[],5,('20) 9명,NaN,(‘20) 56억원
3,시옷플랫폼,대전 유성구 (카이스트 BI),1966.0,시리즈 B,[],2,('20) 6명,NaN,(‘20) 4억원
4,에이스틴,대전 유성구,1972.0,시리즈 A,[],3,('20) 9명,19,(‘20) 3억원
...,...,...,...,...,...,...,...,...,...
2033,레디포스트,서울 마포구 (서울창업허브,1985.0,시리즈 A,NaN,22,NaN,NaN,NaN
2034,엠투벤처스,서울 서초,1980.0,시리즈 A,NaN,23,NaN,NaN,NaN
2035,웍스비,경기 성남,1961.0,시리즈 A,NaN,10,NaN,"특허 6건 (국내, 미국, 유럽, 일본)', '",NaN
2036,호패,서울 강남,1992.0,엔젤투자,NaN,6,NaN,NaN,NaN
2037,스파이더실크,경기 성남,1971.0,NaN,NaN,현재 정규직 4,NaN,NaN,NaN

In [55]:
merged_df.to_excel('/content/drive/MyDrive/노동연구원/teams_pdf/merged_IR.xlsx', index=False)

In [98]:
IR2038 ='/content/drive/MyDrive/노동연구원/teams_pdf/merged_IR.xlsx'
Web2124='/content/drive/MyDrive/노동연구원/teams_pdf/merged_Web.xlsx'

In [99]:
Web2124 =pd.read_excel(Web2124)

In [100]:
Web2124

          회사명    사업분야       설립일  대표자   TIPS 선정             운영기관
0     21세기전파상   지식서비스  20191205  박영준  20210900           매쉬업엔젤스
1       2월대개봉    정보통신         0  곽호림  20201000           에트리홀딩스
2          7일   바이오의료  20210126  김현호  20210900        서울대학교기술지주
3        가온기술   기계·소재  20190924  성석기  20200600        이노폴리스파트너스
4     가우디오디오랩    정보통신  20150506  오현오  20150600          캡스톤파트너스
...       ...     ...       ...  ...       ...              ...
2119    힉스컴퍼니    전기전자  20140623  이선오  20160201         액트너랩(3기)
2120  힐스엔지니어링    정보통신  20180316  박명규  20211000            벤처스퀘어
2121      힘테크      화학  20180119  박성흠  20210500  부산지역대학연합기술지주(주)
2122  AMX Lab  에너지·자원  20191224  김경국  20210500     선보엔젤파트너스(6기)
2123    ASTIN   기계·소재  20131022  황대일  20131000         카이트창업가재단

[2124 rows x 6 columns]

In [101]:
IR2038 =pd.read_excel(IR2038)

In [102]:
IR2038

,회사명,소재지,대표자 (생년),사업화 단계,후속투자,고용창출 (선정당시),고용창출 (최신),논문 및 특허,매출
0,엔트리움,경기 화성시,1973,시리즈 B,120.2,5,('20) 42명,29,(‘20) 48억원
1,프라센,서울 강남구,1984,시리즈 A,3,[],NaN,11,NaN
2,위브랩,서울 강남구 (팁스타운),1977,시리즈 B,[],5,('20) 9명,NaN,(‘20) 56억원
3,시옷플랫폼,대전 유성구 (카이스트 BI),1966,시리즈 B,[],2,('20) 6명,NaN,(‘20) 4억원
4,에이스틴,대전 유성구,1972,시리즈 A,[],3,('20) 9명,19,(‘20) 3억원
...,...,...,...,...,...,...,...,...,...
2033,레디포스트,서울 마포구 (서울창업허브,1985,시리즈 A,NaN,22,NaN,NaN,NaN
2034,엠투벤처스,서울 서초,1980,시리즈 A,NaN,23,NaN,NaN,NaN
2035,웍스비,경기 성남,1961,시리즈 A,NaN,10,NaN,"특허 6건 (국내, 미국, 유럽, 일본)', '",NaN
2036,호패,서울 강남,1992,엔젤투자,NaN,6,NaN,NaN,NaN
2037,스파이더실크,경기 성남,1971,NaN,NaN,현재 정규직 4,NaN,NaN,NaN

In [103]:
merged_df = pd.merge(Web2124, IR2038, on='회사명', how='left')

# 조인된 결과 출력
print(merged_df)

          회사명    사업분야       설립일  대표자   TIPS 선정             운영기관  \
0     21세기전파상   지식서비스  20191205  박영준  20210900           매쉬업엔젤스
1       2월대개봉    정보통신         0  곽호림  20201000           에트리홀딩스
2          7일   바이오의료  20210126  김현호  20210900        서울대학교기술지주
3        가온기술   기계·소재  20190924  성석기  20200600        이노폴리스파트너스
4     가우디오디오랩    정보통신  20150506  오현오  20150600          캡스톤파트너스
...       ...     ...       ...  ...       ...              ...
2123    힉스컴퍼니    전기전자  20140623  이선오  20160201         액트너랩(3기)
2124  힐스엔지니어링    정보통신  20180316  박명규  20211000            벤처스퀘어
2125      힘테크      화학  20180119  박성흠  20210500  부산지역대학연합기술지주(주)
2126  AMX Lab  에너지·자원  20191224  김경국  20210500     선보엔젤파트너스(6기)
2127    ASTIN   기계·소재  20131022  황대일  20131000         카이트창업가재단

                      소재지 대표자 (생년)  사업화 단계 후속투자 고용창출 (선정당시)  고용창출 (최신)  \
0         서울 강남구 (오렌지플래닛)     1990    엔젤투자   []           7  (‘21) 11명
1     서울 서대문구 (연세대 캠퍼스타운)     1993    엔젤투자   []           3        NaN
2                  서울 강남구     1978     NaN   []           5        NaN
3                  인천 남동구     1973  시리즈  A   []          12  (‘21) 20명
4                     NaN      NaN     NaN  NaN         NaN        NaN
...                   ...      ...     ...  ...         ...        ...
2123               경북 구미시     1981   시리즈 A   45           4  ('21) 28명
2124   경기 성남시 (경기스타트업캠퍼스)     1962   시리즈 A  NaN           6  (‘21) 14명
2125                부산 남구     1974    엔젤투자   []           8        NaN
2126                  NaN      NaN     NaN  NaN         NaN        NaN
2127                  NaN      NaN     NaN  NaN         NaN        NaN

      논문 및 특허            매출
0         NaN           NaN
1           1           NaN
2         NaN           NaN
3         NaN  (‘21) 50.8억원
4         NaN           NaN
...       ...           ...
2123  (특허) 6건     (‘21) 1억원
2124        7           NaN
2125      NaN           NaN
2126      NaN           NaN
2127      NaN           NaN

[2128 rows x 14 columns]

In [105]:
merged_df[['회사명','소재지','설립일','대표자','대표자 (생년)','사업분야','TIPS 선정','운영기관','사업화 단계','후속투자','논문 및 특허','매출','고용창출 (선정당시)',  '고용창출 (최신)']]
merged_df

,회사명,사업분야,설립일,대표자,TIPS 선정,운영기관,소재지,대표자 (생년),사업화 단계,후속투자,고용창출 (선정당시),고용창출 (최신),논문 및 특허,매출
0,21세기전파상,지식서비스,20191205,박영준,20210900,매쉬업엔젤스,서울 강남구 (오렌지플래닛),1990,엔젤투자,[],7,(‘21) 11명,NaN,NaN
1,2월대개봉,정보통신,0,곽호림,20201000,에트리홀딩스,서울 서대문구 (연세대 캠퍼스타운),1993,엔젤투자,[],3,NaN,1,NaN
2,7일,바이오의료,20210126,김현호,20210900,서울대학교기술지주,서울 강남구,1978,NaN,[],5,NaN,NaN,NaN
3,가온기술,기계·소재,20190924,성석기,20200600,이노폴리스파트너스,인천 남동구,1973,시리즈 A,[],12,(‘21) 20명,NaN,(‘21) 50.8억원
4,가우디오디오랩,정보통신,20150506,오현오,20150600,캡스톤파트너스,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2123,힉스컴퍼니,전기전자,20140623,이선오,20160201,액트너랩(3기),경북 구미시,1981,시리즈 A,45,4,('21) 28명,(특허) 6건,(‘21) 1억원
2124,힐스엔지니어링,정보통신,20180316,박명규,20211000,벤처스퀘어,경기 성남시 (경기스타트업캠퍼스),1962,시리즈 A,NaN,6,(‘21) 14명,7,NaN
2125,힘테크,화학,20180119,박성흠,20210500,부산지역대학연합기술지주(주),부산 남구,1974,엔젤투자,[],8,NaN,NaN,NaN
2126,AMX Lab,에너지·자원,20191224,김경국,20210500,선보엔젤파트너스(6기),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2127,ASTIN,기계·소재,20131022,황대일,20131000,카이트창업가재단,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [106]:
merged_df.to_excel('/content/drive/MyDrive/노동연구원/teams_pdf/merged_최종1.xlsx', index=False)

In [107]:
merged_df['회사명'].unique

<bound method Series.unique of 0       21세기전파상
1         2월대개봉
2            7일
3          가온기술
4       가우디오디오랩
         ...
2123      힉스컴퍼니
2124    힐스엔지니어링
2125        힘테크
2126    AMX Lab
2127      ASTIN
Name: 회사명, Length: 2128, dtype: object>

## 생년월일 재추출

In [126]:
birth_empty =pd.read_excel('/content/drive/MyDrive/노동연구원/teams_pdf/생년월일빈회사.xlsx')

In [127]:
birth_empty

          회사명
0        프로이드
1       세븐미어캣
2       넥스트케이
3      메디치바이오
4         탈로스
..        ...
361        풀랩
362  주식회사아이노클
363      비피시㈜
364     알러큐리스
365      스템모어

[366 rows x 1 columns]

In [108]:
def extract_birth_year(file_path, company_name):
    with open(file_path, 'r') as file:
        lines = file.readlines()
        for i, line in enumerate(lines):
            if company_name in line:
                birth_line = lines[i + 2]  # 회사 이름 다음 다음 줄의 생년 정보
                year = re.findall(r'\d{4}', birth_line)  # 생년 정보에서 네 자리 숫자 추출
                if year:
                    return year[0]
    return None  # 회사 이름을 찾지 못하거나 생년 정보가 없는 경우 None 반환

In [129]:
file_path = '/content/drive/MyDrive/노동연구원/teams_pdf/IR_KOR_ALL.txt'
company_name = birth_empty['회사명']
birth=[]
for i in company_name:
  birth_year = extract_birth_year(file_path, i)
  birth.append(birth_year)
  # print(birth_year)
birth

['1980',
 '1977',
 '1982',
 '1969',
 '1979',
 '1969',
 '1991',
 '1968',
 '1979',
 '1996',
 None,
 '1961',
 '1988',
 '1967',
 '1990',
 '1984',
 '1999',
 '1966',
 '1978',
 '1985',
 '1980',
 '1981',
 '1995',
 '1986',
 '1990',
 '1977',
 None,
 None,
 '1983',
 '1983',
 '1963',
 '1964',
 '1971',
 '1989',
 '1998',
 '1962',
 '1970',
 '1991',
 '1975',
 '1986',
 None,
 '1987',
 '1996',
 '1982',
 '1990',
 '1990',
 None,
 None,
 '1977',
 '1981',
 '1995',
 '1983',
 '1991',
 '1985',
 '1989',
 '1991',
 '1995',
 '1988',
 None,
 '1960',
 None,
 '1975',
 '1982',
 '1975',
 '1987',
 '2000',
 '1972',
 '1974',
 '1974',
 None,
 '1977',
 '1978',
 '1996',
 '1993',
 '1987',
 '1997',
 '1989',
 '1970',
 '1969',
 '1971',
 '1988',
 '1985',
 '1987',
 '1983',
 '1998',
 '1967',
 '1985',
 '1995',
 '1970',
 '1976',
 '1990',
 '1987',
 '1990',
 '1978',
 '1983',
 '1992',
 '1977',
 '1973',
 '1986',
 '1989',
 '1989',
 '1979',
 '1987',
 '1983',
 None,
 '1993',
 '1986',
 '1996',
 '1980',
 None,
 '1988',
 '1967',
 '1982',
 None,
 '1986',
 '1978',
 '1971',
 '1988',
 '1983',
 '1991',
 '1989',
 '1996',
 None,
 '1967',
 '1974',
 '1971',
 '1970',
 '1972',
 '1995',
 '1971',
 '1959',
 '1984',
 '1969',
 '1984',
 '1977',
 '1982',
 None,
 None,
 '1987',
 '1982',
 '1976',
 '1973',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 '1979',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 '1978',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 '1977',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 '1972',
 None,
 None,
 None,
 None,
 None,
 None,
 '1990',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 '1994',
 None,
 '1964',
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 None,
 '2017',
 None,
 None,
 None,
 None,
 None,
 None]

In [133]:
pd.DataFrame(birth).to_excel('/content/drive/MyDrive/노동연구원/teams_pdf/생년월일빈거채움.xlsx', index=False)

## 사업화 단계 빈거 재추출

In [140]:
grade_empty =pd.read_excel('/content/drive/MyDrive/노동연구원/teams_pdf/사업화단계빈회사.xlsx')

In [135]:
grade_empty

          회사명
0          콤스
1       프레임웍스
2      사피엔반도체
3        미코라파
4        테라노켐
..        ...
347        풀랩
348  주식회사아이노클
349      비피시㈜
350     알러큐리스
351      스템모어

[352 rows x 1 columns]

In [149]:
import pandas as pd

import re

def find_business_stage(text_file, company_name):
    with open(text_file, 'r') as file:
        lines = file.readlines()

    business_stage = None
    for i in range(len(lines)):
        line = lines[i].strip()
        if line == company_name:
            for j in range(i + 1, len(lines)):
                if re.search(r'사업화 단계', lines[j]):
                    business_stage = lines[j].strip()
                    if re.search(r'사업화 단계', business_stage):
                      business_stage = business_stage.replace('사업화 단계', '').strip()
                      break
                    
                  
            break

    return business_stage

# 사용 예시
# text_file = '텍스트파일.txt'
# company_name = '프라비바이오'

# 사용 예시
excel_file = '/content/drive/MyDrive/노동연구원/teams_pdf/사업화단계빈회사.xlsx'
text_file = '/content/drive/MyDrive/노동연구원/teams_pdf/IR_KOR_ALL.txt'
company_name = grade_empty['회사명']

grade_df =[]
for i in   company_name:
    business_stage = find_business_stage(text_file, i)
    if business_stage:
        # print(f"{i}: {business_stage}")
        grade_df.append(business_stage)
    else:
        grade_df.append(None)

In [151]:
pd.DataFrame(grade_df).to_excel('/content/drive/MyDrive/노동연구원/teams_pdf/사업화단계빈거채움.xlsx', index=False)

In [152]:
len(grade_df)

352

## 후속투자 재추출

In [ ]:
def find_investment_info(text_file, company_name):
    with open(text_file, 'r') as file:
        lines = file.readlines()

    investment_info = None
    found_company = False
    found_performance = False

    for i, line in enumerate(lines):
        line = line.strip()
        if line == company_name:
            found_company = True
        elif found_company and line == '주요성과':
            found_performance = True
        elif found_performance and found_company and '후속투자' in line:
            next_line_index = i + 2
            if next_line_index < len(lines):
                investment_info = lines[next_line_index].strip()
                break

    return investment_info

# 텍스트 파일과 회사명을 입력으로 넣어서 후속투자 관련 정보를 찾습니다.
text_file = '/content/drive/MyDrive/노동연구원/teams_pdf/IR_KOR_ALL.txt'
company_name = '프라비바이오'  # 회사명
investment_info = find_investment_info(text_file, company_name)

print(investment_info)